    <% if @store %>
      <div class="row">
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-4">
              <span class="heading"><%= @store.name %> </span>
            </div>
          </div>
        <% if @store.shoes.any? %>
          <% @store.shoes.each do |shoe|%>
            <div class="row">
              <div class="col-sm-4">
                <span class="store-shoes"><%= shoe.name %></span>
              </div>
              <div class="col-sm-1">
                <form action="/stores/<%= @store.id %>/shoes" method="post">
                  <input type="hidden" name="_method" value="delete">
                  <input type="hidden" name="shoe_id" value="<%= shoe.id %>">
                  <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                </form>
              </div>
            </div>
          <% end %>
        <% else%>
        <p>This store has no shoes. Add some on the left.
        </p>
        <% end %>
      </div>
      <div class="col-md-5">
        <span class="heading">Change shoes at <%= @store.name%></span>
        <% if @shoes %>
          <form action="/stores/<%= @store.id %>/shoes" method="post">
            <input type="hidden" name="_method" value="patch">
              <% @shoes.each do |shoe| %>
                <div class="checkbox">
                  <label for="shoe_ids[]"><input type="checkbox" name="shoe_ids[]" value="<%= shoe.id %>"
                    <% if @store.shoes.include?(shoe) %>
                      checked
                    <% end %>
                    ><%= shoe.name %></label>
                </div>
              <% end %>
            <button type="submit" class="btn btn-info btn-sm">Change</button>
          </form>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-3 shoe-to-store">
        <form action="/stores/<%= @store.id %>" method="post">
          <input type="hidden" name="_method" value="patch">
          <div class="input-group">
              <input type="text" name="edit_name" placeholder="Edit store name: <%= @store.name %>" class="form-control input-sm">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-warning btn-sm">Edit</button>
            </span>
          </div>
        </form>
      </div>
    </div>
    <% else %>
    <div class="row">
      <div class="col-md-7 stores-panel">
      <span class="heading">Stores</span>
      <% @stores.each do |store| %>
        <div class="store-block">
          <div class="row">
            <span class="store-name">
            <div class="col-md-4">
              <a href="/stores/<%= store.id%>"><%= store.name %> </a>
            </div>
            <div class="col-md-1">
                <form class="" action="/stores/<%= store.id %>" method="post">
                  <input type="hidden" name="_method" value="delete">
                  <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </div>
            </span>
          </div>
        </div>
      <% end %>
      <form action="/stores/new" method="post">
        <div class="row">
          <div class="col-sm-4">
            <input type="text" name='store_name' placeholder="Add a store" class="form-control input-sm">
          </div>
          <div class="col-sm-1">
            <button type="submit" class="btn btn-sm btn-success" name="add_store">Add store</button>
          </div>
        </div>
      </form>
  </div>
  <div class="col-md-5 shoes-panel">
    <span class="heading">All Shoes</span>
    <% @shoes.each do |shoe|%>
      <div class="row">
        <div class="col-sm-4">
          <span><%= shoe.name %></span>
        </div>
        <div class="col-sm-3">
          <form action="/shoes/<%= shoe.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        </div>
      </div>
    <% end %>
    <form action="/shoes/new" method="post">
      <div class="row">
        <div class="col-sm-4">
          <input type="text" name='shoe_name' placeholder="Add a shoe" class="form-control input-sm">
        </div>
        <div class="col-sm-1">
          <button type="submit" class="btn btn-sm btn-success" name="add_shoe">Add shoe</button>
        </div>
      </div>
    </form>
  </div>
</div>
<% end %>
<div class="row shoe-to-store">
  <div class="col-md-6 col-md-offset-3">
    <% if @shoes and @stores %>
      <div class="row ">
        <div class="col-sm-12">
          <form class="form-inline" action="/stores/shoes" method="post">
            <div class="input-group input-group-sm">
              <span class='input-group-addon'>Add shoe </span>
              <select class="selectpicker form-control" name="shoe_to">
                <% @shoes.each do |shoe| %>
                  <option value="<%= shoe.id%>"><%= shoe.name%></option>
                <% end %>
              </select>
              <span class='input-group-addon'> to store </span>
              <select class=" selectpicker form-control" name="to_store">
                <% @stores.each do |store| %>
                  <option value="<%= store.id%>"><%= store.name%></option>
                <% end %>
              </select>
              <span class="input-group-btn">
              <button type="submit" class='btn btn-primary btn-sm'>Add</button></span>
            </div>
          </form>
        </div>
      </div>
    <% end %>
  </div>
</div>
